<!DOCTYPE html>
<html>
  <head>
    <title>CarSalesInventory</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%#= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if !current_page?(root_path) && !current_page?(login_path) %>
      <%= render 'layouts/navbar' %>
    <% end %>
    
    <%= yield %>
  </body>
</html>
